<header>
  <a href="#" class="logo"><img src="images/logo.png" alt="" /></a>
  <div class="hamburger" onclick="toggleNavMenu();">
    <i class="fas fa-bars"></i>
  </div>
  <ul class="nav-menu">
    <li><a href="/" class="nav-link">Home</a></li>
    <li><a href="#" class="nav-link">Shop</a></li>
    <li><a href="#" class="nav-link">About Us</a></li>
    <li><a href="#" class="nav-link">Contact</a></li>
    <li><a href="#" class="nav-link">Donate</a></li>
  </ul>
  <div class="search">
    <form>
      <input type="text" placeholder="Search for you pokemon" />
    </form>
    <i class="fas fa-search"></i>
  </div>
</header>
