*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --clr-dark: rgb(13, 17, 19);
  --clr-light: #fff;
  --clr-accent: rgb(222, 52, 0);
  --clr-accent-dark: rgb(163, 38, 0);
  --clr-secondary: rgb(0, 76, 199);
  --br: 0.5em;
  --transition: transform 200ms cubic-bezier(0.21, 1, 0.81, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-image: url(../images/background.png);
  color: var(--clr-light);
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 100px;
  z-index: 10;
  background: rgba(2, 2, 2, 0.658);
}

header .logo img {
  position: relative;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-family: sans-serif;
  width: 150px;
  height: 55px;
}

header .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0px;
}

header .nav-menu li {
  list-style: none;
  margin: 0 10px;
}

header .nav-menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
}

header .nav-menu li a:hover {
  color: red;
}

header .search {
  position: relative;
  width: 300px;
  height: 40px;
}

header .search input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffff;
  background: transparent;
  outline: none;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 0 10px 0 45px;
}

header .search input::-webkit-input-placeholder {
  color: #fff;
}

header .search input:-ms-input-placeholder {
  color: #fff;
}

header .search input::-ms-input-placeholder {
  color: #fff;
}

header .search input::placeholder {
  color: #fff;
}

header .search .fa-search {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10px;
  color: #fff;
  border-right: 1px solid #fff;
  padding-right: 10px;
}

header .burger-menu {
  display: none;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.nav-link {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.nav-link:hover {
  color: red;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.banner {
  padding: 200px 100px 100px;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .content {
  max-width: 700px;
}

.banner .content h2 {
  font-size: 5em;
  color: black;
}

.banner .content p {
  font-size: 2em;
  color: black;
}

.banner .content input {
  display: inline-block;
  padding: 8px 20px;
  text-decoration: none;
  font-weight: 600;
  margin-top: 100px;
  border-radius: 15px;
  border: white;
  width: 100%;
  height: 72px;
  font-size: 1.2rem;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 2rem;
}

.btn {
  cursor: pointer;
  border: 0;
  background: var(--clr-secondary);
  border-radius: 100vw;
  color: var(--clr-light);
  font-weight: bold;
  padding: 0.5em 1.5em;
}

.action {
  position: fixed;
  bottom: 50px;
  right: 10px;
  max-width: 70px;
  max-height: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 5px solid #262122;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin: 0 auto;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#BA0C2F), color-stop(49%, #BA0C2F), color-stop(50%, #262122), color-stop(51%, #FFF), to(#FFF));
  background: linear-gradient(180deg, #BA0C2F 0%, #BA0C2F 49%, #262122 50%, #FFF 51%, #FFF 100%);
  z-index: 20;
}

.action span {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-size: 3rem;
  font-weight: 700;
  border-radius: 50%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 30;
}

.action.active span {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.action ul {
  position: absolute;
  bottom: 55px;
  right: 50px;
  background: #fff;
  min-width: 250px;
  padding: 20px;
  border-radius: 20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 100;
}

.action.active ul {
  bottom: 65px;
  opacity: 1;
  visibility: hidden;
  visibility: visible;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 30;
}

.action.active ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: black;
}

.action ul li:hover {
  font-weight: 600;
}

.action ul li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.action ul li i {
  margin-right: 10px;
  opacity: 0.2;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.action ul li:hover i {
  opacity: 0.8;
}

.pokemon-container {
  position: relative;
  width: 13.2em;
  padding: 1.3em;
  padding-top: 3rem;
  margin: 1.3em;
  margin-top: 3rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  cursor: pointer;
}

.pokemon-container img {
  width: 200px;
  height: 200px;
}

.name-poke {
  text-transform: capitalize;
  text-align: center;
}

.types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.types img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.pokeId {
  position: absolute;
  top: .5em;
  right: 1.5em;
  z-index: 10;
  font-weight: bold;
  font-size: 1.125rem;
  background: #f50f0f;
  padding: 0.5em 0.5em 0.75em;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
          clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.front {
  -webkit-transition: 250ms;
  transition: 250ms;
}

.front .thumbnail {
  border-radius: var(--br);
}

.front .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.front .types img {
  border: 2px solid rgba(255, 255, 255, 0.185);
}

.front .types img:nth-of-type(1) {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  z-index: 1;
}

.front .types img:nth-of-type(2) {
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
}

.back {
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5em;
  -webkit-transform: translateY(35%);
          transform: translateY(35%);
}

.back .streaming-info {
  -webkit-columns: 2;
          columns: 2;
  -webkit-column-rule: 1px solid rgba(255, 255, 255, 0.25);
          column-rule: 1px solid rgba(255, 255, 255, 0.25);
}

.back .game-stat {
  font-size: 1.125rem;
  text-align: center;
}

.back .game-stat span {
  font-size: 0.85rem;
  display: block;
}

.background {
  background: #282e36;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-transform: scale(0.2, 0.9);
          transform: scale(0.2, 0.9);
  opacity: 0;
  border-radius: var(--br);
  overflow: hidden;
}

.background img {
  opacity: .3;
  -webkit-clip-path: url(#wave);
          clip-path: url(#wave);
  height: 30%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pokemon-container:hover {
  background-color: rgba(255, 255, 255, 0);
}

.pokemon-container:hover .pokeId {
  -webkit-transform: translate(150%, -61%);
          transform: translate(150%, -61%);
}

.pokemon-container:hover .front {
  -webkit-transform: translateY(-30%) scale(0.8);
          transform: translateY(-30%) scale(0.8);
}

.pokemon-container:hover .front .name {
  -webkit-animation: gameName 250ms forwards;
          animation: gameName 250ms forwards;
}

.pokemon-container:hover .front .stats {
  opacity: 0;
}

.pokemon-container:hover .front .svg-front {
  opacity: 0;
}

.pokemon-container:hover .back {
  opacity: 1;
  -webkit-transition: opacity 150ms linear, -webkit-transform 250ms ease;
  transition: opacity 150ms linear, -webkit-transform 250ms ease;
  transition: transform 250ms ease, opacity 150ms linear;
  transition: transform 250ms ease, opacity 150ms linear, -webkit-transform 250ms ease;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.pokemon-container:hover .back .types {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pokemon-container:hover .back .streamer {
  font-size: 0.9rem;
}

.pokemon-container:hover .back .name {
  font-weight: bold;
}

.pokemon-container:hover .back .sprites img {
  height: 100px;
  width: 100px;
  position: relative;
  bottom: 30px;
}

.pokemon-container:hover .background {
  -webkit-transition: var(--transition), opacity 100ms linear;
  transition: var(--transition), opacity 100ms linear;
  opacity: 1;
  -webkit-transform: scale(1.2, 1.2) translateY(5%);
          transform: scale(1.2, 1.2) translateY(5%);
}

@-webkit-keyframes gameName {
  0% {
    text-align: left;
    opacity: 1;
  }
  20% {
    text-align: left;
    opacity: 0;
  }
  50% {
    text-align: center;
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    text-align: center;
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes gameName {
  0% {
    text-align: left;
    opacity: 1;
  }
  20% {
    text-align: left;
    opacity: 0;
  }
  50% {
    text-align: center;
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    text-align: center;
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.streamer .icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  position: relative;
  -webkit-transition: -webkit-transform ease-in-out 150ms;
  transition: -webkit-transform ease-in-out 150ms;
  transition: transform ease-in-out 150ms;
  transition: transform ease-in-out 150ms, -webkit-transform ease-in-out 150ms;
}

.streamer .icon::before, .streamer .icon::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
}

.streamer .icon::before {
  content: "\f04b";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 0.65em;
  background: #f00;
  display: -ms-grid;
  display: grid;
  place-items: center;
  z-index: 10;
  -webkit-transition: opacity 75ms linear, background-color 100ms linear;
  transition: opacity 75ms linear, background-color 100ms linear;
}

.streamer .icon:hover {
  -webkit-transform: translateY(-15%) scale(1.2);
          transform: translateY(-15%) scale(1.2);
}

.streamer .icon:hover::before {
  background: #cc0202;
}

.streamer .icon:hover::after {
  background: #f00;
  z-index: 1;
  -webkit-animation: pulse 1250ms infinite;
          animation: pulse 1250ms infinite;
}

.streamer:hover .icon {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.streamer:hover .icon::before {
  opacity: 1;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}

@media (max-width: 990px) {
  header {
    padding: 10px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner {
    padding: 150px 20px 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 20px;
  }
  .banner .image {
    margin-left: 0;
    max-width: 80%;
    margin-top: 30px;
  }
  .banner .content h2 {
    font-size: 2em;
  }
  .pokemon-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 660px) {
  header .seach {
    width: 100%;
    margin-bottom: 20px;
  }
  header .burger-menu {
    display: inline-block;
    font-size: 3rem;
    padding: 15px;
  }
  header .nav-menu {
    display: none;
  }
  .banner .image {
    margin-top: 30px;
  }
  .banner {
    width: 60%;
    margin-top: 80px;
  }
  .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hamburger {
    display: block;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}
/*# sourceMappingURL=style.css.map */